@font-face{
  font-family: 'Apestron';
  src: url('Apestron Trial Version.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
  width: 30%;
  margin: 5;
}

#intro {
  position: relative;
  margin: 15px
}

h1 {
  text-align: center;
  overflow-wrap: break-word;
  line-height: 1.3;
  font-family: 'Apestron', sans-serif
}

p {
  text-align: left;
  overflow-wrap: break-word;
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
  margin: 5px;
  padding: 7px;
  border-style: solid;
  border-width: 2px 0px 2px 0px;
}

#viewDiv {
  position: absolute;
  right: 0px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 70%;
}
