@font-face{
  font-family: 'Apestron';
  src: url('Apestron Trial Version.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Houze', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 30%;
  margin: 5;
}

#intro {
  position: relative;
  margin: 10px;
}

h1 {
  text-align: center;
  overflow-wrap: break-word;
  line-height: 1.3;
}

p {
  text-align: left;
  overflow-wrap: break-word;
}

#viewDiv {
  position: absolute;
  right: 0px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 70%;
}
